
body{
    padding: 0%;
    margin: 0%;
    margin-bottom: 0px;
    
}
.contactpage{
    background-image: url("image folder/AdobeStock_979171179_Preview.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 46vw;
    width: 100vw;
    position: fixed;
}
.contactdetails{
    display: flex;
    gap: 1cm;
    padding-left: 350px;
    
    

}
.sectiona{
    color: white;
    border: solid white 2px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
   
    
    
}
.sectiona a{
    text-decoration: none;
    color: rgb(228, 233, 233);
}
.sectionb{
    color: white;
    border: solid white 2px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    

}
.sectionb a{
    text-decoration: none;
    color: rgb(235, 243, 243);
}
.icons{
    display: flex;
     justify-content: flex-end;
    color: white;
    gap:10px
    
}
.nav-bottom{
    border: solid 0px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1cm;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 10px;
    padding-top:10px ;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    padding: 20px ;
    margin-bottom: 30px;
    a:hover{
        transform: scale(1);
        color: rgb(17, 17, 17);
       }
   
}
.nav-bottom a{
    text-decoration: none;
    color: white;
 
}
 #reservations{
    background-color: gray;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
  
   
}
.logo{
    display: flex;
    justify-content: center;
 }

 @media only screen and(max-width:600)  {
    .logo{
        /* display: flex; */
        justify-content: center;
       
     }
 }

