.nav-bottom{
    border: solid 0px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1cm;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 10px;
    padding-top:10px ;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    padding: 20px ;
    margin-bottom: 30px;
    a:hover{
        transform: scale(1);
        color: rgb(17, 17, 17);
       }
    /* position: relative; */
   
}
.nav-bottom a{
    text-decoration: none;
    color: white;
 
}
 #reservations{
    background-color: gray;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
  
 }

logo{
    display: flex;
    justify-content: center;
}
/* .icons{
    display: flex;
    justify-content: flex-end; */


.eventspage{
    display: flex;
    /* margin-top: 0px; */
    
    position: fixed;

}
body{
   margin-top: 0%;
    
    margin-left: 0%; 
   

}
.accra{
    background-image: url("pexels-meruyert-gonullu-6151967.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 46vw;
    width: 34vw;
    justify-content: center;
    text-align: center;
    padding-top: 200px;
    

    /* p{
        color: rgb(238, 88, 34);
    } */
     h1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: lighter;
     }

    
     
}
#header{
    color: rgb(41, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
   
}
#pax{
    color: rgb(241, 163, 134);
    font-family: Arial, Helvetica, sans-serif;

}
#more{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.nairobi{
    background-image: url("image folder/pexels-njeromin-14530305.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 46vw;
    width: 34vw; justify-content: center;
    text-align: center;
    padding-top: 200px;
    h1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: lighter;
     }




}
#pav{
    color: rgb(41, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
   
}
#pax{
    color: rgb(216, 96, 52);
    font-family: Arial, Helvetica, sans-serif;

}

#private{
    color: rgb(216, 96, 52);
    font-family: Arial, Helvetica, sans-serif;

}
#for{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.zanzibar{
    background-image: url("image folder/pexels-susheelparihar-31491030.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:46vw ;
    width: 34vw;
    h1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: lighter;
     }


}
.zanzibardetails{
    justify-content: center;
    text-align: center;
    padding-top: 160px;
    
    
     
}
#pavillion{
    color: rgb(20, 19, 19);
    font-family: Arial, Helvetica, sans-serif;

}

#open{
    color:  rgb(216, 96, 52);
    font-family: Arial, Helvetica, sans-serif;

}
#info{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.icons{
    display: flex;
    /* justify-content: flex-end; */
    gap: 10px;
    padding-top: 10px;
    padding-left: 400px;
}

